#!/usr/bin/python -tt
# -*- coding: utf-8 -*-
# =============================================================================
# File      : cnflow.cfg
# Creation  : 09 Feb 2018
# Time-stamp: <Mon 2018-10-08 09:54 juergen>
#
# Copyright (c) 2018 Jürgen Hackl <hackl@ibi.baug.ethz.ch>
#               http://www.ibi.ethz.ch
# $Id$
#
# Description : configuration file of the program
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# =============================================================================
[logging]
enabled = True
logfile = ./logs/logfile.log
verbose = True
level = INFO

[kriging]
cutoff = 1.e-10

# =============================================================================
# eof
#
# mode: linum
# End:
